# config/database.yml (Versão Final para Render)

default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  adapter: sqlite3
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  timeout: 5000
  database: storage/development.sqlite3

test:
  adapter: sqlite3
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  timeout: 5000
  database: storage/test.sqlite3

production:
  # A configuração principal usa a DATABASE_URL
  <<: *default
  url: <%= ENV["DATABASE_URL"] %>

  # Adicionamos estas seções para os componentes do Rails 8
  # Todas elas vão apenas "herdar" a configuração de produção principal
  cable:
    <<: *default
    url: <%= ENV["DATABASE_URL"] %>
  solid_queue:
    <<: *default
    url: <%= ENV["DATABASE_URL"] %>
  solid_cache:
    <<: *default
    url: <%= ENV["DATABASE_URL"] %>